[secret]
phone_number = +33XXXXXXXXX
pin = XXXX
first_name = YourFirstName
last_name = YourLastName
tr_session = 
tr_refresh = 
waf_token = 
device_info = 

[groq]
api_key = gsk_xxxxxxxxxxxxxxxxxxxx

[github]
api_token = ghp_xxxxxxxxxxxxxxxxxxxx
